@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Rowdies&display=swap');

:root {
--heading-font: "Rowdies";
--paragraph-font: "Bakbak One";
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

#hero-msg h1, #hero-msg h4.button-box, main section {
    font-family: var(--heading-font);
    text-align: center;
}

#backround {
    height: 725px;
    background-color: #9ECE9A;
}

body {
    background-color: #4a5257;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #69747C;
}

nav a:hover {

    color: #F0B67F;
}

nav a {

    color: black;
    padding: 35px;
}

.icon, .logo {

    width: 80px;
}

#hero-img {
    width: 100%;
}



.book:hover, .join:hover {

    color: #F0B67F;
}

.book, .join {

    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #545454;
    text-align: center;
}

.msg {

    background-color: #9ECE9A;
    line-height: 1.5em;
    padding: 35px;
}

footer {

    background-color: #545454;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title, h4, footer, footer a:hover {

color: #F0B67F
}

.msg h2, .msg p {

    color: #545454
}

footer a {
    color: #9ECE9A;

}

nav a, .book, .join, footer a {

    text-decoration: none;
}

footer p a:hover {

    text-decoration: underline;
}

.home-title {
    font-size: 2em;
}

#logo_link {
    padding: 5px;
}

.icon {
    padding-top: 10px;
}

.msg p {
    padding: 15px;
    font-size: .8em;
}

footer .social img {
    padding-top: 15px; 
}

.rivers-card, .camping-card, .rapids-card {

    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}