body{
    margin: 0;
    padding: 0;
    background-color: #737373;
}

.image {
    border-radius: 150px;
    width: auto;
    height: auto;
    border-width: 12px;
    border-color: #444444;
    border-style: solid;
    /* margin: 35px 60px; */
}

section {
   /* margin: 35px 10px 0px 60px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}