#search {
    background-color: black;
    border: solid red ;
    padding: 5px;
    border-radius: 16px;
    color: green;
    width: 800px;
    text-align: center;
}


form {
margin: 0 auto;
align-items: center;
justify-items: center;
text-align: center;
display: grid;
grid-row: 1fr 1fr;
}

#go {
margin-top: 5px;
}
